@font-face {
  font-family: "Victor Mono";
  src: url("/src/assets/font/VictorMono-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Victor Mono";
  src: url("/src/assets/font/VictorMono-Italic-VariableFont_wght.ttf");
  font-style: italic;
  font-weight: normal;
}

:root {
  --yellow: rgb(252, 238, 10);
  --red: rgb(219, 13, 21);
  --blue: rgb(0, 240, 255);
  --transYellow: rgba(252, 238, 10, 0.5);
  --transRed: rgba(219, 13, 21, 0.5);
  --transBlue: rgb(0, 240, 255, 0.5);
  --fontColor: white;
  --darkGray: rgb(85, 85, 85);
  --accent: rgb(229, 12, 105);
  --fontSizeUI: 1.2rem;
  --backgroundYellow: rgb(252, 238, 10);
  --borderYellow: 1px solid yellow;
}

html {
  background-color: black;
  color: white;
}

body {
  font-family: "Victor Mono", sans-serif;
  margin: auto;
  background-image: radial-gradient(
      circle farthest-side at 90% 15%,
      rgba(110, 236, 252, 0.26),
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle farthest-side at 10% 15%,
      rgba(255, 238, 0, 0.26),
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle farthest-side at 50% 90%,
      rgba(255, 0, 0, 0.26),
      rgba(0, 0, 0, 0) 50%
    );

  min-height: 100vh;
}

* {
  font-family: "Victor Mono", sans-serif;
}
