@font-face {
    font-family: "Victor Mono";
    src: url("/src/assets/font/VictorMono-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: url("/src/assets/font/VictorMono-Italic-VariableFont_wght.ttf");
    font-style: italic;
    font-weight: normal;
}

html {
    background-color: black;
    color: white;
}

body {
    font-family: "Victor Mono", sans-serif;
    margin: auto;
    background-image: radial-gradient(
            circle farthest-side at 90% 15%,
            rgba(110, 236, 252, 0.26),
            rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
            circle farthest-side at 10% 15%,
            rgba(255, 238, 0, 0.26),
            rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
            circle farthest-side at 50% 90%,
            rgba(255, 0, 0, 0.26),
            rgba(0, 0, 0, 0) 50%
    );

    min-height: 100vh;
}
